#The entry requirements.txt is a file that installs extra Python requirements on top of what the Collections already list as their Python dependencies.
openshift
kubernetes
dnspython
jsonpath
jmespath
netaddr
yamllint
passlib
oras
ansible-lint
